// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #363636;
	--ion-color-primary-rgb: 54,54,54;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #303030;
	--ion-color-primary-tint: #4a4a4a;

	--ion-color-secondary: 592c57;
	--ion-color-secondary-rgb: 89,44,87;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4e274d;
	--ion-color-secondary-tint: #6a4168;

	--ion-color-tertiary: #b84966;
	--ion-color-tertiary-rgb: 184,73,102;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #a2405a;
	--ion-color-tertiary-tint: #bf5b75;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #363636;
	--ion-color-primary-rgb: 54,54,54;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #303030;
	--ion-color-primary-tint: #4a4a4a;

	--ion-color-secondary: 592c57;
	--ion-color-secondary-rgb: 89,44,87;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #4e274d;
	--ion-color-secondary-tint: #6a4168;

	--ion-color-tertiary: #b84966;
	--ion-color-tertiary-rgb: 184,73,102;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #a2405a;
	--ion-color-tertiary-tint: #bf5b75;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #ebb97d;
    --ion-background-color-rgb: 235,185,125;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;

    --ion-color-step-50: #dfb077;
    --ion-color-step-100: #d4a771;
    --ion-color-step-150: #c89d6a;
    --ion-color-step-200: #bc9464;
    --ion-color-step-250: #b08b5e;
    --ion-color-step-300: #a58258;
    --ion-color-step-350: #997851;
    --ion-color-step-400: #8d6f4b;
    --ion-color-step-450: #816645;
    --ion-color-step-500: #765d3f;
    --ion-color-step-550: #6a5338;
    --ion-color-step-600: #5e4a32;
    --ion-color-step-650: #52412c;
    --ion-color-step-700: #473826;
    --ion-color-step-750: #3b2e1f;
    --ion-color-step-800: #2f2519;
    --ion-color-step-850: #231c13;
    --ion-color-step-900: #17120c;
    --ion-color-step-950: #0c0906;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #ebb97d;
    --ion-background-color-rgb: 235,185,125;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;

    --ion-color-step-50: #dfb077;
    --ion-color-step-100: #d4a771;
    --ion-color-step-150: #c89d6a;
    --ion-color-step-200: #bc9464;
    --ion-color-step-250: #b08b5e;
    --ion-color-step-300: #a58258;
    --ion-color-step-350: #997851;
    --ion-color-step-400: #8d6f4b;
    --ion-color-step-450: #816645;
    --ion-color-step-500: #765d3f;
    --ion-color-step-550: #6a5338;
    --ion-color-step-600: #5e4a32;
    --ion-color-step-650: #52412c;
    --ion-color-step-700: #473826;
    --ion-color-step-750: #3b2e1f;
    --ion-color-step-800: #2f2519;
    --ion-color-step-850: #231c13;
    --ion-color-step-900: #17120c;
    --ion-color-step-950: #0c0906;
  }
}
